*{
    font-family: sans-serif;
    font: roboto;
    background-color: #1f2937;
}

body{
    padding-left: 60px;
    padding-right: 60px;
}

.upper-header{
    color: white;
    background-color: #1f2937;
    padding-top: 10px;
    display: flex;
}
.header-link-container{
    display: inline-flex;
    flex: 1;
}

.header-link{
    flex:1;
}

.header-logo{
    flex:1;
    font-weight: bold;
    font-size: 18px;
}

.description-container{
    background-color: #1f2937;
    color: white;
    display: inline-flex;
    padding-top: 30px;
}

.left-container{
    vertical-align: middle;
    padding-right: 10px;
}

.sign-up-button{

    background-color:#3882F6;
    color: white;
    border-radius: 5px;
    border-color: #3882F6;
    padding-left: 10px;
    padding-right: 10px;
}

#image3{
    height: 300px;
    vertical-align: middle;
}


.random-info-section{
    background-color: white;
    display: flex;

}

.image-list{
    flex:1
}

#random-info{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937
}